<style>
.table-bordered tr th, .table-bordered tr td, .table-bordered tr{border: 1px solid #ccc !important;}
.orange{ background-color: #e67817;}
.orange th{color:#fff;}
</style>
<div class="container-fluid" style="padding-top:50px;">
	<div class="row page-title-div">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="title" style="text-align:center;">Machine Master</h2>
		</div>
	</div>
</div>
<div class="container">
			<div class="row top">
				<div class="col-sm-12">
				<div class="row">
					<div class="col-md-8"></div>
						<div class="col-md-2">
								<button type="submit" class="btn_serach btn-sm" id="success" style="background: #017cc0; border: 1px solid #103e57;"
									ng-click="vm.addNew()">add</button>
						</div>	
						<div class="col-md-2">
								<button type="submit" class="btn_serach btn-sm" id="success" style="background: #017cc0; border: 1px solid #103e57;"
									ng-click="vm.upload()">Upload</button>
						</div>			
				</div>	
				
					<div class="row" ng-show="uploadTab">
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Upload Machien: <span style="color:#c00;">*</span></label> 
							  <input id="uploadMachine"  class="form-control mandtry"  type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
							</div>
						</div>
						
						
						
						
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.uploadNew()">Upload</button>
							</div>
						</div>
						</div>				
					<div class="row" ng-show="addNewTab">
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Machine Name : <span style="color:#c00;">*</span></label> 
								<input type="text" class="form-control" ng-model="machine_mst.machine_name" placeholder="Machine Name"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputPassword13">Select
							Category <span style="color:#c00;">*</span> :</label> <select ng-model="machine_mst.category.cat_id"
									
									ng-options="cat.cat_id as cat.cat_name for cat in vm.categories"
									class="form-control" required>
									<option value="">Select Category  :</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Equipment Id :</label> 
								<input type="text" class="form-control" ng-model="machine_mst.eqid" placeholder="Equipment Id"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Model :</label> 
								<input type="text" class="form-control" ng-model="machine_mst.model" placeholder="Model"	ng-required="true">
							</div>
						</div>
							<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Make :</label> 
								<input type="text" class="form-control" ng-model="machine_mst.make" placeholder="Make"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">SR NO/ Use :</label> 
								<input type="text" class="form-control" ng-model="machine_mst.srNo" placeholder="SR NO/ Use"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Capacity:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.capacity" placeholder="Capacity"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Location:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.location" placeholder="Location"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputPassword13">Select
							Type <span style="color:#c00;">*</span> :</label> <select ng-model="machine_mst.type"
									
									class="form-control" required>
									<option value="">Select Type</option>
									<option value="1">Machine</option>
									<option value="2">Auxiliary</option>
								</select>
							</div>
						</div>
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.ok(machine_mst)">Submit</button>
							</div>
						</div>
						</div>
							<div class="row" ng-show="viewQrTab">
						
						<!-- <div class="col-md-2">
						</div>
						
						<div class="col-md-6">
						
							 <qr text="qrcodeData" id="anycanvas" correction-level="'L'" size="200" image="true" ></qr>
							 <h4>{{qrcodeData}}</h4>
						</div> -->
						<div class="col-md-6">
								<!-- <img src="img/kf-logo.png" class="logo"> -->
							<div style="padding: 5px;display: inline-block;border:2px solid #e67817;margin-left:10px;margin-top:15px">       <qr text="qrcodeData" id="anycanvas" correction-level="'L'" size="200" image="true" ></qr><img src="img/kf-logo.png" class="logo"><br>{{qrcodeData}}</div>
						</div>
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.print()">Print</button>
							</div>
						</div>
						</div>
					</div>
				</div>
				</div>
</div>
						

		<div class="container">				
						<div class="panel-body table-responsive">
					<table datatable="ng" id="example" class="table table-bordered ">
						<thead class="orange">
							<tr>
								<th>ID</th>
							<th>Location</th>
								<th>Equipment Id</th>
								<th>Machine Name</th>
								 <th>Make</th>
								<th>Model</th>
								<th>Capacity</th>
								<th>Category</th>
								
								
							
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="machine in vm.machine_msts">
								<td>{{$index+1}}</td>
								<td> {{machine.location}} </td>
								<td> {{machine.eqid}} </td>
								<td>{{machine.machine_name}}</td>
								 <td>{{machine.make}}</td>
								<td>{{machine.model}}</td>
								<td>{{machine.capacity}}</td> 
								<td>{{machine.category.cat_name}}</td>
								
								
								
								
								
								<td class="text-nowrap">
									<button type="button" class="btn btn-info"	ng-click="vm.add(machine)">
										<i class="fa fa-edit" aria-hidden="true"></i>
									</button>
									<button type="button" class="btn btn-danger" ng-click="vm.delet(machine)">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
									<button type="button" class="btn btn-info" ng-click="vm.viewQr(machine)">
										<i class="fa fa-qrcode" aria-hidden="true"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					
	</div>				
					
						
		

		
		