<style type="text/css">
* {
	margin: 0px;
}

.main {
	margin: 5% auto;
}

.b {
	border-style: ridge;
	border-color: #e67817;
	border-width: thin;
	padding-top: 2vh;
}
</style>
<!-- <div id="qrPrintParent" ng-hide="true">
	<div id="qr"></div>
</div> -->
<div id="qrPrintParent">
<div  ng-hide="true" class="main"
	style="border: 1px solid #000; padding: 5px; width: 270px; font-family: arial; height: 155px; page-break-after: always;">
	<p
		style="font-size: 14px; font-family: arial; text-align: left; font-weight: 500; margin-bottom: 2px; line-height: 18px; margin-left: 10px">Renata
		Precision Components Pvt Ltd.</p>
	<div
		style="width: 58%; text-align: left; float: left; margin-right: 1%; margin-top: 5px;">
		<h3
			style="font-size: 13px; margin-top: 0px; padding-left: 10px; font-weight: 600; width: 100%; text-overflow: ellipsis; margin-top: 15%">{{item}}</h3>
		<p
			style="font-size: 13px; position: relative; margin-top: 0px; padding-left: 10px; width: 100%; text-overflow: ellipsis; margin-top: 6%">Batch
			no : {{selectedQrObj.qrCodeDisplay}}</p>
		<p
			style="font-size: 13px; position: relative; margin-top: 0px; padding-left: 10px; width: 100%; text-overflow: ellipsis; margin-top: 13%;">Operator
			: {{operatorname}}</p>
	</div>
	<div style="float: left; width: 38%; margin-left: 1%; margin-top: 0px;">
		<p style="text-align: right;">
			<!-- <img src="code.png"> -->
		<div
			style="max-width: 100%; height: auto; width: 60%; text-align: left;"
			id="qr"></div>
		</p>
		<!-- 		<p style="font-size:13px;margin-top:-9%;margin-right:6px;text-align:center"><strong>{{assembly.assemblyDate | date:'dd-MM-yy'}}</strong></p> -->

	</div>
</div>

</div>
<div id="header"></div>
<!--<link rel="stylesheet" href="css/styles.css"> -->
<div class="container">


	<div class="row top">
		<div class="col-sm-12 col-xs-12" align="center">
			<h1>Unused Runner</h1>
		</div>
		<div class="col-sm-12 col-xs-12" style="clear: both; margin-top: 8%;">
			<div class="unused_r">
				<div class="row">
					<div class="col-sm-4 col-xs-4">
						<div>
							<b> RAW Material: <span style="color: red;">*</span></b>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6">
						<select class=" form-control" id="material"
							ng-model="selectMaterial" ng-change="vm.getQrCodeList();">
							<option value="selectMaterial">Select material</option>
							<option ng-repeat="opts in vm.materialDetails track by $index"
								value="{{opts}}">{{opts.itemDetails}}</option>
						</select>
					</div>
				</div>
				<div class="row m_t">
					<div class="col-sm-4 col-xs-4">
						<div>
							<b> Packing QR Code: <span style="color: red;">*</span></b>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6 ">
						<!-- <input type="text" class="form-control dispatch_input"> -->
						<select class="form-control " id="qrSelect" ng-model="selectQr">
							<option value="selectQr">Select Qr code</option>
							<option ng-repeat="opts in vm.qrCodeList track by $index"
								value="{{opts}}">{{opts.qrCodeDisplay}}</option>
						</select>
					</div>
				</div>
				<div class="row m_t">
					<div class="col-sm-4 col-xs-4"></div>
					<div class="col-sm-6 col-xs-6" style="margin-bottom: 7%;">
						<button class="unused_runner"
							ng-click="vm.searchUnusedRequests();">Search</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row top p_b" ng-show="showTable">
		<div class="col-sm-12 col-xs-12">
			<div class="table-responsive unused_runner_table">
				<table class="table table1" datatable="ng"
					dt-column-defs="dtColumnDefs" dt-options="dtOptions">
					<thead>
						<tr>
							<th>#</th>
							<th>Po No</th>
							<th>Item Name</th>
							<th>Qty</th>
							<th>UOM</th>
							<th>Status</th>
							<th class="t_blue">Action</th>
							<!-- <th class="bg_green">Print</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="arr in vm.unusedRequetsList track by $index">
							<td>{{$index + 1}}</td>
							<td>{{arr.dispPono}}</td>
							<td>{{arr.itemName}}</td>
							<td><input id="qty{{$index}}" ng-model="arr.qty"
								type="number" class=" form-control"
								onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
							</td>
							<td>{{arr.uom}}</td>
							<td><select id="status{{$index}}" ng-model="arr.status">
									<option value="status">Select status</option>
									<option value="A">Accept</option>
									<option value="R">Reject</option>
							</select></td>
							<td>
								<button class="btn btn-success"
									ng-click="vm.saveUnusedRequests(arr, $index);">Print</button>
							</td>
							<!-- <td>
								<button class="btn btn-success" ng-click="vm.printQrCode(arr)">
									Print</button>
							</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="footer"></div>
<!-- <script src="js/jquery-1.10.2.js"></script> -->
<script>
	/* $(function(){
	  $("#header").load("header.html"); 
	  $("#footer").load("footer.html"); 
	}); */
</script>
